.video-js.vjs-custom-theme .vjs-big-play-button {
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid #ffffff;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	line-height: 76px;
	font-size: 3em;
	color: #ffffff;
	transition: all 0.3s ease;
}
