@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-color-primary {
    @apply text-zinc-900 dark:text-zinc-100;
  }
  .text-color-secondary {
    @apply text-zinc-600 dark:text-zinc-400;
  }
  .text-color-faded {
    @apply text-zinc-500 dark:text-zinc-500;
  }
  .text-color-reversed {
    @apply text-zinc-50 dark:text-zinc-900;
  }
  .text-color-primary-hover {
    @apply hover:text-zinc-50 hover:dark:text-zinc-900 hover:bg-zinc-800 hover:dark:bg-zinc-200;
  }
  .bg-color-primary {
    @apply bg-zinc-200 dark:bg-zinc-800;
  }
  .bg-color-secondary {
    @apply bg-zinc-300 dark:bg-zinc-700;
  }
  .bg-color-reverse {
    @apply bg-zinc-800 dark:bg-zinc-200;
  }
  .bg-color-hover-2 {
    @apply bg-zinc-400 dark:bg-zinc-200;
  }
  .bg-color-hover {
    @apply hover:bg-zinc-200 dark:hover:bg-zinc-800;
  }
  .border-color-primary {
    @apply border-zinc-900 dark:border-zinc-100;
  }
  .border-color-secondary {
    @apply border-zinc-300 dark:border-zinc-600;
  }
  .skeleton-color-primary {
    @apply bg-gray-200 rounded-full dark:bg-gray-700;
  }
  .link-color-primary {
    @apply text-blue-500 dark:text-blue-700;
  }
  .without-ring {
    @apply focus:ring-0 focus:ring-offset-0;
  }
  .button-primary {
    @apply rounded-md text-zinc-900 dark:text-zinc-100 hover:text-zinc-200 hover:bg-zinc-800 dark:hover:text-zinc-700 dark:hover:bg-zinc-200 bg-zinc-200 dark:bg-zinc-800 border-2 border-zinc-900 dark:border-zinc-100;
  }
  .button-secondary {
    @apply text-zinc-50 dark:text-zinc-900 bg-zinc-900 dark:bg-zinc-100 hover:text-zinc-200 hover:bg-zinc-800 dark:hover:text-zinc-700 dark:hover:bg-zinc-200 border-2 border-zinc-900 dark:border-zinc-100;
  }

  .button-styled {
    @apply rounded-md text-zinc-900 dark:text-zinc-100 hover:text-zinc-200 hover:bg-zinc-800 dark:hover:text-zinc-700 dark:hover:bg-zinc-200 bg-zinc-200 dark:bg-zinc-800;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9)
    forwards;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
